---
layout: layouts/base.njk
---
{%- comment -%}
  Landing Page Layout using Bookshop components
  This layout renders content_blocks array using Bookshop
{%- endcomment -%}

<div data-editable="array" data-prop="content_blocks">
{% for block in content_blocks %}
  <div data-editable="array-item">
    {% bookshop "{{block._bookshop_name}}" bind: block %}
  </div>
{% endfor %}
</div>

{{ content }}
