---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
# Redirect rules
# Format: /from /to status-code
# Examples:
# /old-page /new-page 301
# /blog/old-post /blog/new-post 302
# /external https://example.com 301

# Custom redirects
{{ redirects.rules }}

