---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.site_name }}</title>
    <description>{{ metadata.site_description }}</description>
    <link>{{ build.url }}</link>
    <atom:link href="{{ build.url }}/feed.xml" rel="self" type="application/rss+xml"/>
    <language>{{ language or 'en-US' }}</language>
    {%- set latestPost = collections.blog | first %}
    <lastBuildDate>{{ latestPost.date | dateToISOString if latestPost else '' }}</lastBuildDate>
    {%- for post in collections.blog | limit(20) %}
    <item>
      <title>{{ post.data.title }}</title>
      <description>{{ post.data.description }}</description>
      <link>{{ build.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ build.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | dateToISOString }}</pubDate>
      {%- if post.data.author %}
      <author>{{ post.data.author }}</author>
      {%- endif %}
      {%- for tag in post.data.tags %}
      {%- if tag !== 'blog' %}
      <category>{{ tag }}</category>
      {%- endif %}
      {%- endfor %}
    </item>
    {%- endfor %}
  </channel>
</rss>
