---
permalink: /llms.txt
eleventyExcludeFromCollections: true
---
# {{ meta.site_name }}

> {{ meta.site_description }}

## Pages

{%- for page in collections.pages %}
{%- if not page.data.llms_exclude and not page.data.eleventyExcludeFromCollections %}
- [{{ page.data.title }}]({{ meta.site_url }}{{ page.url }}): {{ page.data.description }}
{%- endif %}
{%- endfor %}

## Blog

{%- for post in collections.blog %}
{%- if not post.data.llms_exclude %}
- [{{ post.data.title }}]({{ meta.site_url }}{{ post.url }}): {{ post.data.description }}
{%- endif %}
{%- endfor %}

## Authors

{%- for author in collections.authors %}
- [{{ author.data.name }}]({{ meta.site_url }}{{ author.url }}): {{ author.data.bio | truncate(100) }}
{%- endfor %}
