{#
  Content Block
  @param {string} content - Rich text content (markdown)
  @param {boolean} sidebar - Show sidebar
  @param {string} sidebar_content - Sidebar content
#}
{% macro contentBlock(props) %}
<section class="py-16 lg:py-24">
  <div class="container mx-auto px-4">
    {% if props.sidebar %}
    <div class="grid gap-12 lg:grid-cols-3">
      <div class="lg:col-span-2 prose prose-lg max-w-none">
        {{ props.content | safe }}
      </div>
      <aside class="lg:col-span-1">
        <div class="sticky top-24 bg-stone-50 rounded-xl p-6">
          {{ props.sidebar_content | safe }}
        </div>
      </aside>
    </div>
    {% else %}
    <div class="prose prose-lg max-w-4xl mx-auto">
      {{ props.content | safe }}
    </div>
    {% endif %}
  </div>
</section>
{% endmacro %}
